@layer components {
  .box-shadow-button {
    box-shadow: black 5px 5px;
    @apply mr-3 mt-3 px-4 py-2 font-semibold;
  }
  .box-shadow-card-emerald {
    box-shadow: #34d399 8px 8px;
    @apply mr-3 mt-3 px-4 py-2;
  }

  .box-shadow-card-rose {
    box-shadow: #fda4af 8px 8px;
    @apply mr-3 mt-3 px-4 py-2;
  }
}

* {
  font-family: 'IBM Plex Sans Regular';
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
